body{
    background-color: rgb(18, 18, 18);
}

.keyboardBox{
    background-color: rgb(130, 131, 133);
}

.correctLetter{
    background-color: rgb(181, 159, 58);
}

.correctSpot{
    background-color: rgb(82, 141, 77);
}